@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* В google fonts не было шрифта по макету (graphik). поэтому взял roboto */

@import "./reset.css";
@import "./vars.css";
@import "./utils.css";
@import "./header.css";
@import "./hero.css";
@import "./interface.css";
@import "./features.css";
@import "./contents.css";
@import "./gallery.css";
@import "./partners.css";
@import "./testimonials.css";
@import "./onetype.css";
@import "./footer.css";

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  background-color: var(--dark-background);
  color: var(--light-color);
}
body._lock {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0em;
}
h2 {
  font-size: 52px;
  line-height: 1.19231;
}
a {
  color: var(--light-color);
}
h2 + p, h2 {
  text-align: center;
}
.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1177px;
}
.inner-title {
  font-weight: 500;
  letter-spacing: 0.01em;
}
.inner-desc {
  font-size: 16px;
}
.nav__link {
  transition: opacity var(--hover-transition);
  font-size: 16px;
  font-weight: 500;
}
.nav__link:hover {
  /* opacity: 0.85; */
  text-decoration: underline 2.5px var(--blue-color);
}
.button {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.47059;
    display: inline-block;
    border: 1px solid var(--light-color);
    box-shadow: var(--dark-shadow);
    transition: var(--hover-transition);
}
.button:hover {
    border: var(--border-line) var(--blue-color);
    background-color: var(--blue-color);
}
.button:active {
  background-color: inherit;
  border: var(--border-line) var(--dark-background);
}